[submodule "static/backbone-forms"]
	path = static/backbone-forms
	url = git@github.com:elasticsales/backbone-forms.git
[submodule "static/jquery-autosave"]
	path = static/jquery-autosave
	url = https://github.com/nervetattoo/jquery-autosave.git
[submodule "static/bootstrap"]
	path = static/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "static/jquery-timeago"]
	path = static/jquery-timeago
	url = git@github.com:elasticsales/jquery-timeago.git
[submodule "static/jquery-autoresize"]
	path = static/jquery-autoresize
	url = git@github.com:elasticsales/jQuery.fn.autoResize.git
[submodule "static/jQuery-Timepicker-Addon"]
	path = static/jQuery-Timepicker-Addon
	url = git@github.com:elasticsales/jQuery-Timepicker-Addon.git
