[submodule "static/backbone-forms"]
	path = static/backbone-forms
	url = git@github.com:elasticsales/backbone-forms.git
[submodule "static/jquery-autosave"]
	path = static/jquery-autosave
	url = https://github.com/nervetattoo/jquery-autosave.git
[submodule "static/bootstrap"]
	path = static/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "static/jquery-timeago"]
	path = static/jquery-timeago
	url = https://github.com/rmm5t/jquery-timeago.git
