RUN
RUN_*
*.sock
*.pid
*.pyc
*.swp
*.swo
*_secret.py
secret.py
.DS_Store
celerybeat
config/settings/sales/settings.py
config/settings/sales/local.py
config/secret/sales/local.py
config/nginx/elasticsales.conf
init/elasticsales
.DS_Store
# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
SalesMaster/SalesMaster.xcodeproj/project.xcworkspace/xcuserdata/anemitz.xcuserdatad/UserInterfaceState.xcuserstate

os-auto.mak
*i386-apple-darwin*
*/pjproject/build.mak
*/pjproject/build/cc-auto.mak
*/pjproject/config.log
*/pjproject/config.status
*/pjproject/pjlib/include/pj/compat/m_auto.h
*/pjproject/pjlib/include/pj/compat/os_auto.h
*/pjproject/pjmedia/include/pjmedia-codec/config_auto.h
*/pjproject/pjmedia/include/pjmedia/config_auto.h
*/pjproject/pjsip/include/pjsip/sip_autoconf.h

*/xcuserdata/*
