ul.errorlist li { color:red; }

form.nice table {
    margin-bottom:24px;
}
form.nice table img {
    margin-top:4px;
}
form.nice table td, form.nice table th {
    padding:2px 0 2px 0;
    vertical-align:top;
    text-align:left;
}
form.nice table th {
    font-weight:normal;
    line-height:32px;
    padding-right:12px;
}
form.nice input[type=text], form.nice input[type=password] {
    padding:2px 2px;
    font-size:18px;
}
form.nice input[type=text], form.nice input[type=password] {
    width:260px;
}
form.nice .help {
    font-size:14px;
    margin-left:12px;
}
form.nice .help-line {
    font-size:14px;
}
form.nice table .spacer {
    height:18px;
}
form.nice p label {
    display:block;
    font-weight:bold;
    color:#666;
}
form.nice table span.helptext { font-size:12px; }
form.nice textarea {
    padding:2px 2px;
    width:266px;
    height:80px;
    font-size:18px;
}
form.nice.small table td, form.nice.small table th {
    padding-top:0px;
    padding-bottom:0px;
    font-size:14px;
}
form.nice.small input[type=text], form.nice.small textarea {
    font-size:14px;
    padding:2px 2px;
}
form.nice.small label {
    line-height:16px;
}
form.nice span.help-text {
    display:block;
    font-size:12px;
    color:#666;
    margin:4px 0 8px 0;
}

input[readonly] {
    background-color:#f9f9f9;
    color:#ccc;
}

link {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
    color:#397536;
    text-decoration:underline;
    font-size:16px;
    text-align:left; /* IE */
    cursor:pointer;
}

a.button, a.button:visited, form.nice input[type=submit], button, input.button {
    text-decoration:none;
    background:#000;
    color:#fff;
    padding:6px 12px;
    display:block;
    font-size:18px;
    border-radius:4px;
    box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 0 rgba(255,255,255,0.3) inset;
    border:1px solid #333;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
    background:#369 url(../img/alert-overlay.png) repeat-x;
    display:inline-block;
    color:white;
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
    text-align:center;
    cursor:pointer;
    overflow:visible; /* IE7 */
}
a.button:hover, form.nice input[type=submit]:hover, button:hover, input.button {
    background-color:#47a;
}
.fileinput:active a.button, a.button:active, form.nice input[type=submit]:active, button:active, input.button:active {
    box-shadow:0 1px 0 rgba(255,255,255,0.1),0 2px 1px rgba(0,0,0,0.1) inset,0 -2px 1px rgba(255,255,255,0.1) inset;
    background-color:#58b;
}

a.button.small, form.nice input[type=submit].small, button.small, input.button.small {
    text-shadow:0 -1px 0px rgba(0, 0, 0, 0.4);
    font-size:12px;
    padding:4px 8px;
    background:#444 url(../img/alert-overlay.png) repeat-x;
}
.fileinput:hover a.button.small, form.nice input[type=submit].small:hover, a.button.small:hover, button.small:hover, input.button.small:hover {
    background:#555 url(../img/alert-overlay.png) repeat-x;
}
.fileinput:active a.button.small, form.nice input[type=submit].small:active, a.button.small:active, button.small:active, input.button.small:active {
    background:#777 url(../img/alert-overlay.png) repeat-x;
}

span.field-optional { font-size:12px; color:#999; }


span.placeholder-wrapper {
    display:block;
    position:relative;
}
span.placeholder {
    top:0;
    left:0;
    position:absolute;
    color:#ccc;
    font-size:14px;
    margin:4px 6px;
    cursor:text;
}
span.placeholder.focused {
    color:#e3e3e3;
}
